main
{
    margin-right: 0!important;
}
.section-content
{
    margin-top: 6rem!important;
    padding: 0 3rem;
}
.section-content .content
{
    max-width: 900px;
    margin: 0 auto;
}
abbr
{
    text-decoration: none!important;
}
